= link_to 'Manage users', '#'
- if false
  = "slide down menu: new_user_path, edit_user_path, user_index_path"
= link_to 'Manage products', '#'
= link_to 'Manage suppliers', '#'
= link_to 'View business stats', '#'
