%td
  = link_to image_tag("remove.png", size: '35x35'), add_to_ticket_path(@product, :decrement => true), remote: true
- if params[:size]
  %td
    = "#{@product.name} M"
  %td#price
    = convert_to_pln(@product.small_price)
- else
  %td
    = @product.name
  %td#price
    = convert_to_pln(@product.price)
%td#amount
  = @ticket_item.amount
%td#total-price
  = convert_to_pln(@ticket_item.price)
