- init_tickets("underway")
- if not @tickets.empty?
  - @tickets.each do |ticket|
    %tr{:id => ticket.id }
      %td
        = ticket.todays_nr
      %td
        = t('ticket.' + ticket.status)
      %td
        = ticket.delivery == true ? t('delivery.takeaway') : t('delivery.home')
      %td
        = "#{ticket.underwayed_at.localtime.strftime('%H:%M')} (#{time_ago_in_words(ticket.underwayed_at)})"
      %td
        = "#{ticket.items_count} / #{ticket.products.count}"
      %td
        = convert_to_pln(ticket.total_price)
      %td
        = link_to t('actions.cancel'), cancel_ticket_path(:id => ticket.id), method: :delete, :onclick => "$(this).closest('tr').remove();", remote: true
      %td
        = link_to t('actions.edit'), edit_ticket_path(:id => ticket.id), :remote => true
      %td
        = link_to t('actions.close'), update_ticket_path(:id => ticket.id, :status => "closed"), :data => { status: "closed"}, method: :post, :onclick => "$(this).closest('tr').remove()", :remote => true
