%table.table.table-hover.table-bordered
  %th.col-lg-2= "Nr zamówienia"
  %th.col-lg-2= "Odbiór"
  %th.col-lg-2= "Kiedy przyjęto"
  %th.col-lg-1= "Produktów"
  %th.col-lg-1= "Kwota"
  %th.col-lg-3{:colspan => "3"}= "Akcje"
  - @tickets.each do |ticket|
    %tr{:id => ticket.id }
      %td
        = ticket.id
      %td
        = ["Na miejscu", "Na wynos"].sample
      %td
        = "#{ticket.created_at.localtime.strftime('%H:%M')} (#{time_ago_in_words(ticket.created_at)} ago)"
      %td
        = ticket.items_count
      %td
        = convert_to_pln(ticket.total_price)
      %td
        = link_to "Anuluj", cancel_ticket_path(:id => ticket.id), method: :delete, remote: true
      %td
        = link_to "Szczegóły", '#'
      %td
        = link_to "Zamknij", close_ticket_path(:id => ticket.id), remote: true
