- if !@ticket
  - init_ticket('open')
- @ticket.ticket_items.each do |item|
  %tr
    %td
      = link_to image_tag("remove.png", size: '35x35'), update_ticket_item_path(:id => item.product.id, :decrement => true), method: :patch, remote: true
    %td
      = item.product.name
    %td#price
      = convert_to_pln(item.price / item.amount)
    %td#amount
      = item.amount
    %td#total-price
      = convert_to_pln(item.price)
