.navbar-fixed-bottom.col-lg-12{ :style => "padding: 0" }
  .btn-toolbar{ :role => "toolbar" }
    .btn-group.btn-group-justified{ :role => "group" }
      .btn-group{ :role => "group" }
        %button.btn.btn-default
          = link_to "Logged in as", '#'
      .btn-group{ :role => "group" }
        %button.btn.btn-default#footer-stats
          = link_to "Total tickets underway: #{Ticket.all.where("status = ?", "underway").count}" ,'#'
      .btn-group{ :role => "group" }
        %button.btn.btn-default
          = link_to "Tickets created / Tickets closed", '#'
      .btn-group{ :role => "group" }
        %button.btn.btn-default
          = link_to "Daily turnover: #{Ticket.all.where("status = ?", "closed").to_a.map(&:total_price).inject(0, :+)}", '#'
