.navbar.navbar-default.navbar-fixed-top
  .col-lg-12{ :style => "padding: 0;" }
    .btn-toolbar{ :role => "toolbar" }
      .btn-group.btn-group-justified{ :role => "group"}

        - if current_user.name == "asiak"
          .btn-group{ :role => "group" }
            %button.btn.btn-default
              = link_to t(:admin_functions), admin_functions_path

        .btn-group{ :role => "group" }
          %button.btn.btn-default
            = "#{t(:logged_in_as)} #{current_user.name}"

        .btn-group{ :role => "group" }
          %button.btn.btn-default
            - if logged_in?
              = link_to t(:log_out), logout_path, method: :delete

        .btn-group{ :role => "group" }
          %button.btn.btn-default
            - if request.env['REQUEST_URI'].split('/').include?("tickets")
              = link_to t('nav.dashboard'), dashboard_path
            - else
              = link_to t(:history), history_path


        .btn-group{ :role => "group" }
          %button.btn.btn-default
            = link_to "Clock", '#'

        .btn-group{ :role => "group" }
          %button.btn.btn-default
            = link_to "Today's tickets", '#'
