.navbar.navbar-default.navbar-fixed-top
  .col-lg-12{ :style => "padding: 0;" }
    .btn-toolbar{ :role => "toolbar" }
      .btn-group.btn-group-justified{ :role => "group"}

        - if current_user.name == "asiak"
          .btn-group{ :role => "group" }
            %button.btn.btn-default
              = link_to "Admin functions", admin_functions_path

        .btn-group{ :role => "group" }
          %button.btn.btn-default
            = "Logged in as #{current_user.name}"

        .btn-group{ :role => "group" }
          %button.btn.btn-default
            - if logged_in?
              = link_to "Log out", logout_path, method: :delete

        .btn-group{ :role => "group" }
          %button.btn.btn-default
            = link_to "History", history_path

        .btn-group{ :role => "group" }
          %button.btn.btn-default
            = link_to "Clock", '#'

        .btn-group{ :role => "group" }
          %button.btn.btn-default
            = link_to "Today's tickets", '#'
